.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.btn {
  height: 32px;
  width: 32px;
  border: 1px solid white;
  border-radius: 50%;
  overflow: hidden;
  position: fixed;
  bottom: 100px;
  right: 20px;
  cursor: pointer;
}
.btnOne {
  height: 32px;
  width: 32px;
  border: 1px solid white;
  border-radius: 50%;
  overflow: hidden;
  position: fixed;
  bottom: 100px;
  right: 35px;
  cursor: pointer;
}
.btntwo {
  height: 32px;
  width: 32px;
  border: 1px solid white;
  border-radius: 50%;
  overflow: hidden;
  position: fixed;
  bottom: 100px;
  right: 55px;
  cursor: pointer;
}
.btnthree {
  height: 32px;
  width: 32px;
  border: 1px solid white;
  border-radius: 50%;
  overflow: hidden;
  position: fixed;
  bottom: 100px;
  right: 75px;
  cursor: pointer;
}
.txtBtn {
  height: 32px;
  width: 32px;
  background-color: red;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  position: fixed;
  bottom: 100px;
  right: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins-normal";
  color: white;
  font-size: 10px;
  cursor: pointer;
}
