.img {
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 8px;
  object-fit: cover;
  min-width: 34px;
}
.icons {
  padding: 0px 5px;
  font-size: 16px;
}
.iconBtn {
  --box-shadow: none;
  --background: linear-gradient(269deg, #ed1b2d 49.35%, #eb2c71 85.56%);
  --border-radius: 8px;
  height: 15px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
}
.text {
  font-size: 14px;
  font-family: "poppins";
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  max-width: 270px;
  text-overflow: ellipsis;
}
.textPrice {
  font-size: 14px;
  font-family: "poppins";
  font-weight: 600;
  text-wrap: nowrap;
}
.itemCount {
  font-size: 14px;
  font-family: "poppins-normal";
  font-weight: 600;
}
.heading {
  color: gray;
  font-weight: 800;
  font-family: "poppins";
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .text {
    max-width: 200px;
  }
}
