.page {
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page {
    max-width: 600px; /* Set a maximum width of 600px for larger screens */
  }
}
.bannerImage {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  bottom: -55px;
}
.header {
  background-color: black;
  height: 170px;
}
.restName {
  font-family: "poppins";
  padding-top: 55px;
  /* color: rgba(140, 136, 136, 1); */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
ion-content {
  --padding-top: 55px;
  --padding-start: 20px;
  --padding-end: 20px;
  --background: var(--ion-page-background-color);
}
.selectMenu {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: "poppins-bold";
}
.card {
  height: fit-content;
  margin: 0px;
  background-color: blue;
}
.menuImg {
  width: 100%; /* Make the image take full width */
  height: auto; /* Maintain aspect ratio */
  display: block;
  border-radius: 10px !important;
  overflow: hidden;
}
.labelContainer {
  font-family: "poppins";
  background: rgb(255, 255, 255);
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: max-content;
  border-radius: 30px;
  padding: 1px 15px;
  height: fit-content;
  color: #0c0c0c;
}
.menuLabel {
  color: #0c0c0c;
}
