.card {
  --background: var(--ion-page-background);
  box-shadow: none;
  margin-inline: 0px;
  cursor: pointer;
}
.thumbnail {
  --border-radius: 50%;
  height: 29px;
  width: 29px;
}
.name {
  font-family: "poppins-normal";
  /* font-weight: 900; */
  color: var(--ion-text-color);
  font-size: 14px;
}
@media only screen and (max-width: 500px) {
  .name {
    overflow: hidden;
    white-space: nowrap;
    max-width: 320px;
    text-overflow: ellipsis;
  }
}

.outerDiv {
  border: 1.5px solid red;
  padding: 1.5px;
  border-radius: 50%;
}
.categoryName {
  font-family: "poppins";
  color: var(--ion-text-color);
  font-size: 11px;
}
.cardImg {
  margin-top: 10px;
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 16px;
  overflow: hidden;
}
.moreIcon {
  font-size: 20px;
  color: var(--ion-text-color);
}
.rateIcon {
  font-size: 20px;
  color: #fecd00;
}
.likeIcon {
  font-size: 20px;
  color: red;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 60px;
}
.descriptionExp {
  padding-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  color: var(--ion-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.description {
  padding-top: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  color: var(--ion-text-color);
  font-size: 14px;
  font-style: normal;
  font-family: "poppins";
  font-weight: 400;
  line-height: 1.2;
  /* padding-top: 20px;
  color: var(--ion-text-color);
  font-family: "poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  max-height: 3.4em;  */
}
.more {
  margin-bottom: 2px;
  font-size: 14px;
  font-family: "poppins";
  margin: 0px;
  cursor: pointer;
}
.time {
  font-family: "poppins";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.badge {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  right: 0px;
  top: 35px;
}
.badgeTxt {
  color: white;
  font-size: 10px;
  font-family: "poppins-normal";
}
.flavCard {
  margin-top: 10px;
  border-radius: 16px;
  background-color: var(--ion-custome-card-color);
  padding: 14px;
}
.caption {
  color: var(--ion-text-color);
  font-family: "poppins-normal";
  margin: 0px;
  font-weight: 800;
  font-size: 14px;
}
.required {
  background-color: red;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  font-family: "poppins";
  margin: 0px;
  font-size: 10px;
  font-weight: 600;
}
.msg {
  color: var(--ion-text-color);
  font-family: "poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 10px;
}
.radioBtn {
  --color: #6e6e6e;
  --color-checked: red;
  padding: 8px 0px; /* Adjust the padding to make the radio button smaller */
  margin-inline-end: 8px !important;
}
.priceLabel {
  color: var(--ion-text-color);
  text-align: right;
  font-family: "poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
}
.tags {
  background-color: var(--ion-custome-card-color);
  color: var(--ion-text-color);
}
.tagLabel {
  color: var(--ion-text-color);
  margin: 0px;
}
.iconBtn {
  --box-shadow: none;
  --background: linear-gradient(269deg, #ed1b2d 49.35%, #eb2c71 85.56%);
  --border-radius: 8px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
}
.icons {
  padding: 0px 10px;
  height: 25px;
}
.iconsAndroid {
  padding: 0px 5px;
  height: 25px;
}
.addBtn {
  width: 50%;
  --box-shadow: none;
  --background: linear-gradient(269deg, #ed1b2d 49.35%, #eb2c71 85.56%);
  /* --padding-bottom: 20px;
  --padding-top: 20px; */
  --border-radius: 8px;
  text-transform: capitalize;
}
.itemNum {
  color: var(--ion-text-color);
}

.errMsg {
  margin: 0px;
  color: red;
  font-size: 14px;
  font-family: "poppins";
}
