.toolbar {
  --background: trasparent;
}
.image {
  height: 63px;
  width: 63px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
ion-segment-button {
  --color-checked: trasparent;
  color: var(--ion-text-color);
  font-family: "poppins";
  --padding-start: 0px;
  --padding-end: 12px;
}
