.quantityBox {
  border: 1px solid var(--ion-search-border);
  border-radius: 2px;
  /* height: 35px; */
  /* min-width: 35px; */
  min-width: 44px;
  height: 35px;
  align-content: center;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
}
.quantityBoxBig {
  border: 1px solid var(--ion-search-border);
  border-radius: 2px;
  /* height: 35px; */
  /* min-width: 35px; */
  min-width: 44px;
  height: 45px;
  align-content: center;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
}
.chevIcon {
  font-size: 12px !important;
}
.mainRow {
  padding: 5px 0px 5px 0px;
  border-bottom: 1px solid var(--ion-toolbar-borer);
}
.quantity {
  font-family: "poppins";
  font-size: 14px;
  color: var(--ion-text-color);
  text-wrap: nowrap;
  margin: 0px;
}
.quantityCards {
  font-family: "poppins";
  font-size: 14px;
  color: var(--ion-text-color);
  text-wrap: nowrap;
  margin: 0px;
  /* padding: 6px; */
}
.textDiv {
  max-width: 320px;
  width: calc(100% - 90px);
}
.otherNames {
  font-family: "poppins";
  font-size: 10px;
  margin: 0px;
  color: var(--ion-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.otherNamesShow {
  font-family: "poppins";
  font-size: 12px;
  margin: 0px;
  color: var(--ion-text-color);
}
.itemName {
  font-family: "poppins-normal";
  font-size: 14px;
  margin: 0px;
  color: var(--ion-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nameImgBox {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: left;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.img {
  height: 45px;
  width: 45px;
  min-width: 34px;
  object-fit: cover;
  border-radius: 4px;
  overflow: hidden;
  margin: 0px 5px;
}
.trash {
  color: red;
  /* background: linear-gradient(269deg, #ed1b2d 49.35%, #eb2c71 85.56%); */
  /* padding-left: 4px !important; */
  /* height: 15px;
  width: 15px; */
  border-radius: 5px;
  font-size: 1.2em !important;
  cursor: pointer;
}
.toggleIcon {
  font-size: 1em !important;
}
.leftBox {
  max-width: 80%;
  width: 80%;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}
.rightBox {
  width: 15%;
}
.name {
  margin: 0px !important;
  color: var(--ion-text-color);
  font-family: "poppins-normal";
  font-weight: 400;
  font-size: 14px;
}
.heading {
  margin: 4px 0px !important;
  color: var(--ion-text-color);
  font-family: "poppins-normal";
  font-weight: 400;
  font-size: 14px;
}
.expandCard {
  background-color: var(--ion-custome-card-color);
  padding: 16px;
  border-radius: 16px;
}
.text {
  font-family: "poppins";
  margin: 0px !important;
  font-size: 14px;
}
.icons {
  padding: 5px;
  font-size: 15px;
}

.iconBtnWeb {
  --box-shadow: none;
  --background: linear-gradient(269deg, #ed1b2d 49.35%, #eb2c71 85.56%);
  --border-radius: 100%;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  --background-activated: red;
  height: 20px;
  width: 20px;
  min-height: 20px !important;
}

.iconHidder {
  color: var(--ion-page-background-color);
}
.iconsAndroid {
  padding: 3px;
  font-size: 1.2em;
}
.iconsWeb {
  padding: 0px 5px;
  height: 25px;
  width: 25px;
}
.iconBtn {
  --box-shadow: none;
  --background: linear-gradient(269deg, #ed1b2d 49.35%, #eb2c71 85.56%);
  --border-radius: 8px;
  height: 30px;
  width: 30px;
  min-height: 20px !important;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  --border-radius: 100%;
}

.itemCount {
  font-size: 14px;
  font-family: "poppins-normal";
  font-weight: 600;
  color: var(--ion-text-color);
  padding: 0px 3px;
}
.comments {
  font-size: 12px;
  font-family: "poppins";
  border: 1px solid var(--ion-search-border);
  border-radius: 5px;
  margin: 0px;
  padding: 5px 10px;
}
@media only screen and (max-width: 500px) {
  .leftBox {
    width: 70%;
  }
  .rightBox {
    width: 25%;
  }
}
.floatBtn {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  position: absolute;
  left: 70px;
  min-width: 60px;
  background: var(--ion-custome-card-color);
  padding: 3px 5px;
  border: 1px solid var(--ion-search-border);
  border-radius: 4px;
}
