.checkBox {
  --checkbox-background-checked: red;
  --checkbox-background: var(--ion-page-background);
  --border-color: #6e6e6e;
  --border-color-checked: red;
  padding: 8px 0px;
}
.name {
  color: var(--ion-text-color);
  text-align: right;
  font-family: "poppins-normal";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
  text-wrap: nowrap;
}
.itemname {
  text-align: start !important;
  width: 180px;
  color: var(--ion-text-color);
  text-align: right;
  font-family: "poppins-normal";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mainRow {
  padding: 10px 0px 0px 0px;
  cursor: pointer;
}
.border {
  padding-top: 10px;
  border-bottom: 1px solid var(--ion-toolbar-borer);
}
.img {
  height: 34px;
  width: 34px;
  min-width: 34px;
  object-fit: cover;
  border-radius: 4px;
  overflow: hidden;
  margin: 0px 15px;
}
.err {
  font-family: "poppins";
  font-size: 12px;
  margin: 0px;
  padding-top: 5px;
  color: red;
}
.underlineErr {
  font-family: "poppins";
  font-size: 12px;
  margin: 0px;
  padding-top: 5px;
  padding-left: 5px;
  color: red;
  text-decoration: underline;
}
@media (min-width: 426px) {
  .itemname {
    width: 260px;
  }
}
@media (max-width: 320px) {
  .itemname {
    width: 120px;
  }
}
